<div [ngClass]="{ 'app-container': true, 'flag__hide-viewer-ui': false }">

  <div class="header">
    <div class="header__title">ActiveReports Demo - Reports Gallery</div>
    <ul class="header__list">
    </ul>
  </div>

  <div class="main">
    <app-showcase></app-showcase>
    <div class="hr"></div>

    <div class="footer">
      <div class="footer__content">
        <div class="footer__copyright">Copyright © 2019 GrapeCity, Inc. All rights reserved.</div>
      </div>
      <div class="footer__trademark">
        ActiveReports® is registered trademark of GrapeCity in United States and in several other countries.
        All product and company names herein may be trademarks of their respective owners.
      </div>
    </div>
  </div>
</div>
